@import "./variables.scss";
@import "./mixins.scss";

.section {
  width: 100%;
  min-height: 150px;
  @include flex-center-horizontal;
  align-items: stretch;
  padding: 0 1rem;

  &_dark {
    background-color: rgb(0, 0, 0);
  }
  

  &_iphone-xs {
    padding-top: 92px;
    padding-bottom: 40px;
  }

  &__content {
    @include flex-center-horizontal;
    max-width: $page-content-width;
    width: 100%;
  }
  &__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    &_iphone-xs {
      height: 300px;
      width: 100%;
      background-image: url(../assets/iph-xs_1.jpg);
      @include tablet {
        height: 500px;
        width: 100%;
        background-image: url(../assets/iph-xs_2.jpg);
      }
    }
  }
}
